@mixin nav() {
  ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    font-weight: 500;
    letter-spacing: 1px;

    li {
      cursor: pointer;
      padding: 7px 17px;
      transition: ease 1s;
      border-radius: 5px;
      background-color: darkolivegreen;
      color: white;
      border: 2px solid black;
    }

    li:hover {
      background: $rootColor;
    }
  }
}

