@mixin table() {
  thead {
   th { 
      width: 10%;
      margin: 10 auto;
      padding: 10px; 
      border: 2px solid #1c87c9;
      border-radius: 5px;
      background-color: black;
      text-align: center;
      height: 50px;
      color: white;
   }
  th :nth-child(odd) { 
    padding: 10px; 
    border: 2px solid navy;
    border-radius: 5px;
    background-color: #e5e5e5;
    text-align: center;
    color: black;
  }
  }
tbody {
  tr {
    width: 10%;
      margin: 10 auto;
      padding: 10px; 
      border: 2px solid #1c87c9;
      border-radius: 5px;
      background-color: orangered;
      text-align: center;
      height: 50px;
    }
      tr :nth-child(odd) { 
       padding: 10px; 
       border: 2px solid navy;
       border-radius: 5px;
       background-color: #e5e5e5;
       text-align: center;
    }
    :hover  {
    width: 10%;
    margin: 10 auto;
    padding: 10px; 
    border: 2px solid #1c87c9;
    border-radius: 5px;
    background-color: navy;
    text-align: center;
    height: 50px;
    color: white;
    }
    :hover :nth-child(odd) { 
    padding: 10px; 
    border: 2px solid navy;
    border-radius: 5px;
    background-color: red;
    text-align: center;
    }
}

tfoot {
  th { 
    width: 10%;
      margin: 10 auto;
      padding: 10px; 
      border: 2px solid #1c87c9;
      border-radius: 5px;
      background-color: #e5e5e5;
      text-align: center;
      height: 50px;
}
th :nth-child(odd) { 
  padding: 10px; 
  border: 2px solid navy;
  border-radius: 5px;
  background-color: #e5e5e5;
  text-align: center;
}
}
}