@import '../../styles/lib/variables';

#root, main {
  margin: 0;
  padding: 0;
}

main {
  .card {
    header {
      font-size: 1.5rem;
    }
    figure {
      img {
        box-sizing: border-box;
        border: solid $accentColor 1px;
        width: 100%;
        margin-bottom: $space;
      }
    }
    .links {
      a {
        display: inline-block;
        width: 50%;
        padding: $space 0 $space 0;
        text-decoration: none;
        color: black;
      }
      a:hover {
        background-color: $accentColor;
        color: $rootColor;
      }
      background: $tableHead;
    }
    height: 100%;
    border-top: solid $accentColor 1px;
    box-sizing: border-box;
    background-color: $rootColor;
    padding: $space * 2;
    display: grid;
    grid-template-columns: 20% 10% 10% 20% 10% 10% 20%;
    grid-template-rows: 50px 50px 75px 75px 75px 75px 75px 75px 75px;
  }
  .media-top {
    header {
      grid-column: 4;
    }
    figure {
      grid-column: 3/6;
      grid-row: 4/9;
    }
    p {
      grid-column: 4;
      grid-row: 3;
      padding: $space;
    }
    .links {
      grid-row: 2;
      grid-column: 4;
    }
  }
  .media-left, .media-right {
    header {
      grid-row: 1;
    }
    figure {
      grid-row: 4;
    }
    p {
      grid-row: 3;
    }
    .links {
      grid-row: 2;
    }
  }
  .media-right {
    * {
      grid-column: 7;
    }
  }
  .media-left {
    * {
      grid-column: 1;
    }
  }
  text-align: center;
}