@import '../../styles/lib/variables';

nav {
    &.horizontal {
        ul {
            li, ul {
                width: 100px;
                padding: $space * .5;
                margin: $space;
                border: 1px solid black;
                border-radius: 5px;
                background-color: $rootColor;
                box-shadow: 1px 1px 5px black;
                display: inline-block;
            }
            li:hover, ul:hover {
                box-shadow: 2px 2px 10px black;
            }
            li:hover {
                background-color: $accentColor;
                color: $rootColor;
            }
            ul {
                li {
                    display: none;
                }
            }
            ul:hover {
                li {
                    display: block;
                    background-color: palegoldenrod;
                    color: black;
                    width: 60px;
                }
                li:hover {
                    background-color: saddlebrown;
                    color: $rootColor;
                }
                display: inline-block;
            }
        }
    } 

    &.vertical {
        ul {
            li, ul {
                display: block;
                width: 100px;
                padding: $space * .5;
                margin: $space;
                border: 1px solid black;
                border-radius: 5px;
                background-color: $rootColor;
                box-shadow: 1px 1px 5px black;
            }
            li:hover, ul:hover {
                box-shadow: 2px 2px 10px black;
            }
            li:hover {
                background-color: $accentColor;
                color: $rootColor;
            }
            ul {
                li {
                    display: none;
                }
            }
            ul:hover {
                li {
                    display: block;
                    background-color: palegoldenrod;
                    color: black;
                    width: 60px;
                }
                li:hover {
                    background-color: saddlebrown;
                    color: $rootColor;
                }
                display: block;
            }
        }
    }
    &.hamburger {
        ul {
            display: none;
        }
        background-color: $rootColor;
        border: 1px solid $accentColor;
        border-radius: 5px;
        width: 25px;
        height: 25px;
    }
    &.hamburger:hover {
        ul, li {
            display: block;
            margin: $space * .5;
        }
        ul {
            li, ul {
                border: 1px solid $accentColor;
                border-radius: 5px;
                padding: $space * .5;
                background-color: rgb(230, 230, 230);
            }
            li:hover {
                background-color: $accentColor;
                color: rgb(230, 230, 230);
            }
            ul {
                li {
                    display: none;
                    border: 1px solid $accentColor;
                    border-radius: 5px;
                    padding: $space * .5;
                    background-color: rgb(230, 230, 230);
                }
                li:hover {
                    background-color: $accentColor;
                    color: rgb(230, 230, 230);
                }
            }
            ul:hover {
                li {
                    display: block;
                }
            }
        }
        padding: $space;
        display: block;
        width: 150px;
        height: auto;
    }
}